<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
	<jmxConfigurator/>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>logstash</host>
        <!-- port is optional (default value shown) -->
        <port>514</port>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
    </appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
			 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{TPIC.invocationId} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<target>System.err</target>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="logstash"/>
		<appender-ref ref="STDERR" />
	</root>
</configuration>
